<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Comparação de IDH entre municípios brasileiros</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="input-group mb-3" id="caixadepesquisa">
            <input type="text" class="form-control"
                    placeholder="Busca..."
                    aria-label="Busca"
                    aria-describedby="Caixa de pesquisa"
                    v-model.trim="caixaDeBusca">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                      type="button"
                      @click="pesquisaMunicipio">Pesquisar</button>
            </div>
          </div>
          <div v-if="errorMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
          <p v-if="municipioEncontrado.length > 0" class="lead">
              Clique no nome do município escolhido para adicioná-lo ao gráfico
            </p>
          <div v-if="municipioEncontrado.length > 0" class="list-group">
            <button type="button"
                    class="list-group-item
                            list-group-item-action"
                    v-for="municipio in municipioEncontrado"
                    :key="municipio.id"
                    @click="adicionaMunicipio">
              {{municipio.nome}}
            </button>
          </div>
          <p v-if="listaIDH.length > 0" class="lead">
              Clique no nome do município escolhido para removê-lo do gráfico
            </p>
          <div v-if="listaIDH.length > 0" class="list-group">
            <button type="button"
                    class="list-group-item
                            list-group-item-action"
                    v-for="municipio in listaIDH"
                    :key="municipio.id"
                    @click="removeMunicipio(municipio.id)">
              {{municipio.nome}}
            </button>
          </div>
          <div id="grafico">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
      <div>
        <p>Municipio; 2010, 2000, 1991<br></p>
        <p v-for="municipio in municipiosIDH" :key="municipio.nome">
          {{municipio.nome}}; {{municipio[2010]}}; {{municipio[2000]}}; {{municipio[1991]}};
          <br>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Chart from 'chart.js/dist/Chart';

export default {
  name: 'app',
  data() {
    return {
      caixaDeBusca: '',
      municipioEncontrado: [],
      listaIDH: [],
      errorMessage: '',
      municipiosIDH: [],
    };
  },
  methods: {
    pesquisaMunicipio() {
      this.errorMessage = '';

      axios.get('https://servicodados.ibge.gov.br/api/v1/localidades/municipios')
        .then((response) => {
          const municipios = response.data.filter(result =>
            result.nome.toLowerCase() === this.caixaDeBusca.toLowerCase());

          if (municipios.length === 0) {
            this.errorMessage = 'Municipio não encontrado';
          }

          if (municipios.length !== 0) {
            const municipio = {
              nome: municipios[0].nome,
              id: municipios[0].id,
            };

            this.municipioEncontrado.push(municipio);
          }

          this.caixaDeBusca = '';
        });
    },
    adicionaMunicipio() {
      const idMunicipio = this.municipioEncontrado[0].id;
      const nomeMunicipio = this.municipioEncontrado[0].nome;

      axios.get(`https://servicodados.ibge.gov.br/api/v1/pesquisas/37/resultados/${idMunicipio}`)
        .then((response) => {
          const IDHMunicipio = {
            nome: nomeMunicipio,
            idh: response.data[0].res[0].res,
            id: idMunicipio,
          };

          this.municipioEncontrado = [];

          if (this.listaIDH.length <= 10) {
            this.listaIDH.push(IDHMunicipio);
            this.desenhaGrafico();
          } else {
            this.errorMessage = 'Limite de municípios no gráfico excedido';
            setTimeout(() => {
              this.errorMessage = '';
            }, 5000);
          }
        });
    },
    removeMunicipio(id) {
      const filteredlist = this.listaIDH.filter((municipio) => {
        return municipio.id !== id;
      });

      this.listaIDH = filteredlist;
      this.desenhaGrafico();
    },
    desenhaGrafico() {
      const ctx = document.getElementById('myChart');

      const dataSet = this.listaIDH.map((municipio, index) => {
        const colors = ['rgba(15, 93, 219, 0.8)',
          'rgba(196, 40, 19, 0.8)',
          'rgba(42, 165, 8, 0.8)',
          'rgba(160, 3, 147, 0.8)',
          'rgba(150, 148, 42, 0.8)',
          'rgba(255, 93, 0, 0.8)',
          'rgba(226, 111, 111, 0.8)',
          'rgba(94, 140, 88, 0.8)',
          'rgba(106, 122, 165, 0.8)',
          'rgba(198, 125, 189, 0.8)'];
        const dados = [];
        const nome = municipio.nome;
        const color = colors[index];

        dados.push(parseFloat(municipio.idh[1991]));
        dados.push(parseFloat(municipio.idh[2000]));
        dados.push(parseFloat(municipio.idh[2010]));

        const object = {
          label: nome,
          data: dados,
          fill: false,
          backgroundColor: color,
          borderColor: color,
        };

        return object;
      });

      const myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['1991', '2000', '2010'],
          datasets: dataSet,
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: 'Evolução do IDH das cidades selecionadas',
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                suggestedMax: 1,
              },
            }],
          },
        },
      });
    },
    randomNumber() {
      return Math.floor(Math.random() * 255);
    },
    mounted() {
      

    },
  },
};
</script>

<style lang="scss">

body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

#caixadepesquisa {
  margin-top: 10px;
}

#grafico {
  max-width: 1200px;
  max-height: 600px;
  margin: 0 auto;
}

</style>
